<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <websocket:handlers>
        <websocket:mapping path="/sampleWebSocket" handler="sampleWsHandler"/>
        <websocket:handshake-interceptors>
            <bean class="com.qts.websocket.CustomWebsocketIntercepter"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

    <bean id="sampleWsHandler" class="com.qts.websocket.SampleWebsocketHandler"/>
</beans>