<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    id 需要和web.xml中的名称对应-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
<!--        登录页面方法-->
        <property name="loginUrl" value="/"/>
        <property name="filterChainDefinitions">
            <value>
                /=anon
                /login=anon
                /plugins/**=anon
                /logout=logout
                /**=authc
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="relam"></property>
    </bean>

    <bean id="relam" class="com.qts.realm.CostomRelam">
        <property name="credentialsMatcher" ref="credentialsMatcher"></property>
    </bean>

    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="MD5"/>
        <property name="hashIterations" value="2"/>
    </bean>
</beans>