<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qts.dao.AssayTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.qts.pojo.AssayTemplate" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="create_tiem" property="createTiem" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qts.pojo.AssayTemplate" extends="BaseResultMap" >
    <result column="note" property="note" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, template_name, create_tiem, create_id
  </sql>
  <sql id="Blob_Column_List" >
    note
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from assay_template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from assay_template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qts.pojo.AssayTemplate" >
    insert into assay_template (id, template_name, create_tiem, 
      create_id, note)
    values (#{id,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, #{createTiem,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=VARCHAR}, #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qts.pojo.AssayTemplate" >
    insert into assay_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateName != null" >
        template_name,
      </if>
      <if test="createTiem != null" >
        create_tiem,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="createTiem != null" >
        #{createTiem,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qts.pojo.AssayTemplate" >
    update assay_template
    <set >
      <if test="templateName != null" >
        template_name = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="createTiem != null" >
        create_tiem = #{createTiem,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qts.pojo.AssayTemplate" >
    update assay_template
    set template_name = #{templateName,jdbcType=VARCHAR},
      create_tiem = #{createTiem,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qts.pojo.AssayTemplate" >
    update assay_template
    set template_name = #{templateName,jdbcType=VARCHAR},
      create_tiem = #{createTiem,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>