<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qts.dao.RecipeMapper" >
  <resultMap id="BaseResultMap" type="com.qts.pojo.Recipe" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sender" property="sender" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="REAL" />
    <result column="branch_code" property="branchCode" jdbcType="VARCHAR" />
    <result column="recipe_time" property="recipeTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sender, type, value, branch_code, recipe_time, create_time, create_id, create_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from recipe
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from recipe
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qts.pojo.Recipe" >
    insert into recipe (id, sender, type, 
      value, branch_code, recipe_time, 
      create_time, create_id, create_name
      )
    values (#{id,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{value,jdbcType=REAL}, #{branchCode,jdbcType=VARCHAR}, #{recipeTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qts.pojo.Recipe" >
    insert into recipe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sender != null" >
        sender,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="branchCode != null" >
        branch_code,
      </if>
      <if test="recipeTime != null" >
        recipe_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=REAL},
      </if>
      <if test="branchCode != null" >
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="recipeTime != null" >
        #{recipeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qts.pojo.Recipe" >
    update recipe
    <set >
      <if test="sender != null" >
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=REAL},
      </if>
      <if test="branchCode != null" >
        branch_code = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="recipeTime != null" >
        recipe_time = #{recipeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qts.pojo.Recipe" >
    update recipe
    set sender = #{sender,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      value = #{value,jdbcType=REAL},
      branch_code = #{branchCode,jdbcType=VARCHAR},
      recipe_time = #{recipeTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>